
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="jumbotron  jumbotron-fluid" align="center" style="border: 1px dashed rgb(66, 133, 244);background-color: rgb(0, 0, 0);">
        <h1 class="display-3" style="color: rgb(255, 255, 255); font-family: Comic Sans MS,cursive, sans-serif;" contenteditable="false" spellcheckker="false">MI AUTOMÓVIL</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="contenedorMenu">
            </div>
        </div><!--contenedor del menu-->
        <div class="row">
            <br>
            <br>
            <div align="center" class="col-sm-12">
                <h2> Consultar Concesionario</h2>
            </div>
        </div>
    </div> <!-- /container -->
    <div class="container">
        <br />
        <br />
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <form class="form-inline">
                    <input class="form-control mb-2 mr-sm-2" placeholder="Ingrese su consulta " size="40" />
                    <button type="button" class="btn btn-success mb-2 ">
                        <span class="fi-icon-name" title="icon name" aria-hidden="true"></span>Consultar
                    </button>
                </form>
            </div>
            <div class="col-sm-4 btn-group-inline">
                <button type="button" class="btn btn-dark mb-2 ">Listar Todos</button>
                <button type="button" class="btn btn-success mb-2 ">@Html.ActionLink("Adicionar", "AdicionarConcesionario", null, new { @class = "myclass" })</button>
            </div>
        </div>
    </div>
    <div class="container" id="contenedorClientes">

    </div>
    <br />
    <br />
    <footer class="footer" style="background-color: #000000; color: #fafafa">
        <div>
            <br />
            <br />
            <p>© WYMAN SOLUTION 2019</p>
        </div>
    </footer>
</body>
</html>
